.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    // fill available space
    position: absolute;
    inset: 0;
}

.unavailable_message {
    font-size: 88px;
    font-weight: 700;
}