.container {
	// fill available space
	position: fixed;
	inset: 0;
}

.container > * {
	position: absolute;

	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.unavailable_message {
	font-size: 24px;
	font-weight: 700;

	text-align: center;

	max-width: 50%;
}
