.container {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	// fill available space
	position: fixed;
	inset: 0;
}

.unavailable_message {
	font-size: 24px;
	font-weight: 700;

	text-align: center;

	max-width: 50%;
}
